[Desktop Entry]
Encoding=UTF-8
Name=GO-FUND
Comment=GO-FUND P2P Cryptocurrency
Comment[fr]=GO-FUND, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GO-FUND, eşten eşe kriptografik sanal para birimi
Exec=gofund-qt %u
Terminal=false
Type=Application
Icon=gofund128
MimeType=x-scheme-handler/gofund;
Categories=Office;Finance;
