[Desktop Entry]
Encoding=UTF-8
Name=GoFund
Comment=GoFund P2P Cryptocurrency
Comment[fr]=GoFund, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GoFund, eşten eşe kriptografik sanal para birimi
Exec=gofund-qt %u
Terminal=false
Type=Application
Icon=gofund128
MimeType=x-scheme-handler/gofund;
Categories=Office;Finance;
