[Unit]
Description=GoFund's distributed currency daemon
After=network.target

[Service]
User=gofund
Group=gofund

Type=forking
PIDFile=/var/lib/gofundd/gofundd.pid

ExecStart=/usr/bin/gofundd -daemon -pid=/var/lib/gofundd/gofundd.pid \
          -conf=/etc/gofund/gofund.conf -datadir=/var/lib/gofundd

ExecStop=-/usr/bin/gofund-cli -conf=/etc/gofund/gofund.conf \
         -datadir=/var/lib/gofundd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
